@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2rem;
}
.box-1{
    text-align: center;
}
.box-1 h1{
    font-weight: 700;
    font-size: 3rem;
    color: #1e81b0;
}

.box-2{
    width: 1200px;
    text-align: center;
    margin: auto;

}
.container{
    width: 30%;
    text-align: center;
    padding: 2rem;
    display: inline-block;
    height: 550px;
}
.container-1{
    background-color: #1e81b0;
    color: whitesmoke;
    float: left;
}
.container-1 img{
    width: 12rem;
    /* margin-top: -8rem; */
}
.container-1 i{
    padding: 1rem;
    margin: 2rem 0 ;
    color: whitesmoke;
}
.container-2{
    text-align: left;
}
.container-2 h3{
 font-weight: 500;
}
.container-2 button{
    border-style: none;
    border: 5px solid #1e81b0;
    background: none;
    padding: 10px;
    width: 10rem;
    font-weight: 800;
    border-radius: 10rem;
    cursor: pointer;
    text-align: center;
    margin-top: 1rem;
}
.container-2 button:hover{
    color: whitesmoke;
    background-color: #1e81b0;
}
.container-3{
    float: right;
    text-align: left;
}
.container-3 i{
    padding:0.7rem ;
    color: black;
}

@media(max-width:768px) {
   .box-1{
    width: 100%;
   }
    .box-2{
        width: 100%;
        display: block;
        margin: 0;
        float: none;
    }
    .container{
        display: block;
        width: 100%;
        float: none;
        height: auto;
    }
}